#header {
  display: flex;
  flex-direction: column;
  background-image: url(synth.jpg);
  background-position: 50% 80%;
  height: 100px;
  box-shadow: 1px 3px 10px #00e7fe;
  align-items: center;
  position: relative;
}

#title {
  margin: 10px;
}

#top-anchors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  box-shadow: 1px 3px 10px #00e7fe; 
  margin-right: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}

.top-anchor{
  font-size: 100%;
}


#me {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 800px;
}

#nome {
text-align: center;
}

 
#me-text {
  display: block;
  width: 90%;
  text-align: justify;
  color: white;
  height: auto;
  margin: 0;
  text-align: center;
}

.box {
  margin: 50px;
}

.box2 {
  margin-bottom: 50px;
}

